body {
  font-family: "Playfair Display", serif;
  background-color: rgb(228, 211, 243);
}

h1 {
  font-family: "Poppins", sans-serif;
}

.hero {
  margin-top: 100px;
  text-align: center;
}
.mt-5 {
  margin: 50px;
}
.contact {
  margin: 500px;
}

.head-about {
  margin-top: 100px;
  margin: 100px 20px 20px 20px;
  text-align: right;
}
