:root {
  --main-color: #231d3c;
  --title-color: #885df1;
  --title-paragraph-color: #41306b;
}

@media (max-width: 500px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
    text-align: center;
  }
}

body {
  font-family: "Playfair Display", serif;
  background-color: rgb(240, 232, 247);
  color: var(--main-color);
  margin-top: 100px;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: var(--title-color);
}
h2 {
  color: var(--title-paragraph-color);
}

.hero {
  margin-top: 100px;
  text-align: center;
}
.mt-5 {
  margin: 50px;
}

.card {
  border-color: rgb(210, 164, 250);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card-body {
  background-color: rgb(210, 164, 250);
}
.align-right {
  text-align: right;
}

.contact {
  margin: 500px;
}

.link-app {
  text-decoration: none;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  border-color: var(--title-color);
  border-radius: 10px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  background: var(--title-color);
}
.about-app {
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: var(--main-color);
}
.link:hover {
  color: var(--title-color);
  font-size: 20px;
}

.link-open-sourced {
  color: var(--title-color);
  text-decoration: underline;
}

.footer-text {
  font-size: 14px;
}
